/* 首頁背景 */
.section {
    height: 100vh;
    width: 100vw;
}

/* 背景顔色 */
#bg{
    background-image:url(img/bg.png); /* 背景图片 */
    background-repeat: no-repeat;
    background-size:1800px 1000px;
}

#root>div:nth-child(2) {
    background-color: rgb(255, 255, 255);
}

#root>div:nth-child(3) {
    background-color: rgb(255, 255, 255);
}

#root>div:nth-child(4) {
    background-color: rgb(255, 255, 255);
}